/* Global Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adminpanel Styles */
#admin-panel {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

nav h3 {
    margin-bottom: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-links a, .nav-links span {
    font-size: 16px;
}

.nav-links a {
    color: #007BFF;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input Field Styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Button Styles */
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link Styles */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

/* Verhindere Farbwechsel nach Klick */
a:visited {
    color: #007BFF;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Anpassungen für das Optionsfenster */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    transition: border-color 0.3s;
    color: #333; /* Textfarbe anpassen */
}

select:focus {
    border-color: #007BFF;
    outline: none;
}

/* Dropdown-Menü Optionen */
option {
    background-color: #fff; /* Hintergrundfarbe */
    color: #333; /* Textfarbe */
    padding: 10px;
}


/* Für mobile Geräte */
@media (max-width: 768px) {
    #admin-panel {
        width: 95%;
    }

    form {
        width: 95%;
    }

    table, th, td {
        font-size: 14px;
    }
}


